
.cart {
    width: 100%;
    padding: 16px 12px;
}

.inner {
    position: relative;
    text-align: center;
}

.image {
    position: relative;
    padding-top: 45%;
    composes: mr-4 ml-4 mb-2 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.image img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    composes: text text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mb-2 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.price span {
    margin-right: 8px;
}


.cartTitle {
    composes: text text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    min-height: 48px;
}

.cartCount {
    z-index: 2;
}