.type {
    composes: pb-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.header {
}

.title {
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mb-6 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    margin-top: 0;
}

.content {
    composes: pl-4 pr-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: -16px -12px;
}

.link {
    display: block;
    width: 50%;
}