.section {
    width: 50%;
    composes: pr-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.title {
    composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mb-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    margin-top: 0;
}

.tabs {
    display: flex;
    composes: mb-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.types {
    height: calc(100vh - 280px);
    overflow-y: auto;
}

.types::-webkit-scrollbar {
    width: 8px;
}

.types::-webkit-scrollbar-track {
    background: #2F2F37;
}

.types::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
}